---
import {
  Card,
  CardContent,
} from "@/components/ui/card";

import {actions } from 'astro:actions'

const categories = await Astro.callAction(actions.getCategoryWithProductCount, {})
---

<section class="py-12">
  <h1 class="text-center text-5xl pb-12">Categories</h1>
  <div class="flex justify-center md:px-12 gap-4 flex-wrap">
    {
        categories?.data?.map(item => (
            <a class="md:w-1/8 w-1/3" href={`/categories/${item.slug}`}>
              <Card className=" p-2">
              <CardContent className="text-center px-0">
                  <p class="font-bold">{item.categoryName}</p>
                  <p class="text-sm">{item.productCount} items</p>
              </CardContent>
            </Card></a>
        ))
    }
  </div>
</section>
