---
import ProductItem from "../products/ProductItem.astro";
import { Button } from "@/components/ui/button"
import {actions } from 'astro:actions'

const products = await Astro.callAction(actions.getNewestProducts, {})
---

<section class="py-6">
  <div class="pb-12 flex items-center justify-between">
    <h1 class="text-3xl">Newest</h1>
    <Button><a href="/products">See all products</a></Button>
  </div>
  <div
    class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {products?.data?.map((item) => <ProductItem item={item} />)}
  </div>
</section>
