---
import { Button } from "@/components/ui/button";
import ProductListFetch from "../products/ProductListFetch.astro";
import ProductSkeletonItem from "../products/ProductSkeletonItem.astro";
---

<section class="py-6">
  <div class="pb-12 flex items-center justify-between">
    <h1 class="text-3xl">Newest</h1>
    <Button><a href="/products">See all products</a></Button>
  </div>
  <ProductListFetch
    className="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    server:defer
    action={"getNewestProducts"}
  >
    <ProductSkeletonItem slot={"fallback"} itemLength={8} />
  </ProductListFetch>
</section>
