---
import Layout from "@/layouts/Layout.astro";
import { Content as AboutPage } from "@/markdown/about.md";
---

<Layout>
  <div class="mx-auto max-w-xl whitespace-break-spaces">
    <AboutPage />
  </div>
</Layout>
