---
import Layout from "@/layouts/Layout.astro";
import { Content as ContactPage } from "@/markdown/contact.md";
---

<Layout>
  <div class="mx-auto max-w-xl whitespace-break-spaces">
    <ContactPage />
  </div>
</Layout>
