---
export const prerender = false;
import { Button } from "@/components/ui/button";

const isAdmin = Astro.cookies.get("jwt");
---

{
  isAdmin && (
    <Button>
      <a href="/admin">Admin dashboard</a>
    </Button>
  )
}
