---
import ProductItem from "./ProductItem.astro";
import { actions } from "astro:actions";

const { categorySlug } = Astro.props;

const products = await Astro.callAction(actions.getListProducts, {
  categorySlug: categorySlug ?? "",
  pageSize: 8,
});
---

<section class="pt-12">
  <h1 class="text-3xl pb-12">Related products</h1>
  <div
    class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {products?.data?.map((item) => <ProductItem item={item} />)}
  </div>
</section>
