---
export const prerender = false;
import "@/styles/global.css";
import { LoginForm } from "@/components/admin/login/LoginForm";
---

<div class="grid place-items-center h-screen content-center">
  <LoginForm client:load />
</div>
